# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"
GITHUB_CLIENT_SECRET="56aeef57b9c407cb5fbe97409e7a81bc00f162ab"
GITHUB_CLIENT_ID="Iv23liZrsFEAnAUm2Wx2"
NEXTAUTH_SECRET="CgFyK7H1XMt3GOq6j+HNpdeR07z+aucL43w7/d9r1mQ="
RESEND_API_KEY="re_dUgEpFeG_HY5DMSToZ2An4HL2YXUTRVEi"
NEXTAUTH_URL="http://localhost:3000/"
