# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"
GITHUB_CLIENT_SECRET="56aeef57b9c407cb5fbe97409e7a81bc00f162ab"
GITHUB_CLIENT_ID="Iv23liZrsFEAnAUm2Wx2"
NEXTAUTH_SECRET="CgFyK7H1XMt3GOq6j+HNpdeR07z+aucL43w7/d9r1mQ="
RESEND_API_KEY="re_dUgEpFeG_HY5DMSToZ2An4HL2YXUTRVEi"
NEXTAUTH_URL="http://localhost:3000/"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_CLIENT_ID="364250673458-6scsg82igdk9npcu29k03oti4v1av0eb.apps.googleusercontent.com"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y29vbC1mZWxpbmUtMzIuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_Uj1eC8xqZSJgh6WUyDrW5UaCIyU3VluuQ3a3ixAW2d
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
WEBHOOK_SECRET=whsec_gdaQb0Dkfzyxo82wjsp49DNvaM3U3yYL
DATABASE_URL="postgresql://root:@localhost:5432/fatamore?schema=public"
NEXT_PUBLIC_API_URL=http://localhost:3000/api/trpc
